POSTGRES_HOST=localhost
POSTGRES_DB=api_tarefas
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
DB_SSL=false
TOKEN_KEY=troque-esta-chave-secreta
API_PORT=3000
API_HOST=http://localhost
